*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #d3d3d3;
    width: 70vw;
}
.header{
    width: 99vw;
    height: 220px;
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    justify-content: flex-start;
    gap: 20px;
    align-items: flex-start;
}.header_text{
    margin-top: 50px;
}
img{
    border-radius: 360px;
    height: 150px;
    width: 150px;
    
}
.hr_header{
    width: 75vw;
    margin: -35px 0 30px 80px;

}.menu{
    display: flex;
    gap: 40px;
    margin-top: -20px;
    margin-left: 80px;

}
.blue:focus{
        color: #00BFFF;
        text-decoration: underline;
}.blue:hover{
    cursor: pointer;
}
.gray{
    color: grey;
}h1{
    width: 450px;
}
.conteiner{
    display: flex;
    gap: 25px;
    margin-top: 10px;
    margin-left: 10%;
    width: 100%;
}.icons8{
    width: 20px;
    height: 20px;
}.point{
    margin-top: -7px;
    font-size: 20px;
}.topicos{
    display: flex;
    gap: 5px;
    color: #474747;
}.left_conteiner{
    display: flex;
    flex-direction: column;
    width: 32vw;
    height: 440px;
    gap: 12px;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
}.top_right_conteiner{
    display: flex;
    justify-items: flex-start;
    width: 45vw;
    height: 30px;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
}button{
    border: none;
    height: 20px;
    width: 60px;
    text-align: center;
    margin-left: 450px;
    border-radius: 5px;
    background-color: #ccc9c9;
}.right{
    display: flex;
    flex-direction: column;
    gap: 25px;
}.right_conteiner{
    display: flex;
    align-self: flex-end;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    flex-direction: column;
    width: 45vw;
}.title{
    display: flex;
    gap: 2px;
    width: 40vw;
}.post_text{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.imgs_maior{
    display: flex;
    gap: 2px;
}
.img_maior{
    width: 49.6%;
    height: 49.6%;
    border-radius: 0;
    margin-bottom: 2px;
}.imgs_menor{
    display: flex;
    gap: 1px;
}.img_menor{
    width: 33.1%;
    height: 33.1%;
    border-radius: 0px;
}.emojis{
    display: flex;
    gap: 5px;
}.curtida{
    color: whitesmoke;
    background-color: rgb(89, 135, 221);
    border-radius: 1000px;
}.coracao{
    color: whitesmoke; background-color: red;border-radius: 1000px;
}.opcoes{
    display: flex;
    gap: 30px;
}.curtir{
    color: grey;
}.comment_camp{
    display: flex;

}.input_img{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 33%;
}.input_img1{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 35%;
}.input_img2{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 37%;
}.input_img3{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 39%;
}.input_img4{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 41%;
}.input_img5{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 43%;
}